
.flash-message {
  background: #d5ebff;
  padding: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.form-actions {
  padding: 10px;
}

small a {
  color: #999;
}

.page-title {
  margin-bottom: 15px;
}

.grid-view .summary {
  display: none;
}

.grid-view {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  margin-bottom: 15px;
  overflow: auto;
}

.grid-view table {
  margin-bottom: 0;
}

.users-table {
  width: 900px;
}